# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Data files (optional)
data/
